/* Separator About - Parallax Section */
.sep {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 450px;
	position: relative;
}
.A {
	background-image: url(../img/about-sep.jpg);
}

.B {
	background-image: url(../img/portfolio-sep.jpg);
}

.C {
	background-image: url(../img/contact-sep.jpg);
}