/* Separators with Parallax */
/* Have one medicine, one tech, one social */

.sep {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 450px;
	position: relative;
}
.A {
	background-image: url(../img/about-sep.jpg);
}

.B {
	background-image: url(../img/portfolio-sep.jpg);
}

.C {
	background-image: url(../img/contact-sep.jpg);
}

.excerpt{
	vertical-align: center;
}

.excerpt h4{
	vertical-align: center;
	padding-top: 0;
	margin-top: 0;
}

img .excerpt{
	max-width: 100% !important;
}

#writing{
	max-width: 100% !important;
}

/*#footer {
	margin-right: 0;
	text-align: right;
	text-decoration: white;
}*/